.content-flex-center() {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 20px; 
    font-size: 1rem; 
    font-weight: bold; 
    color: #000; 
    background-color: #fff; 
    border: 1px solid; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.2s ease;
}
